*{
    margin: 0;
    padding: 0;
}

body{
    height: 2000px;

}

.nav_main{
    margin-bottom: 50px;
    /* background-color: rgb(112, 162, 185); */
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    align-items: center;
}

.logo{
    width: 40px;
    height: 40px;
}

.menu_navbar{
    display: flex;
    gap: 38px;
}

a{
    text-decoration: none;
    color: rgb(199, 107, 241);
    font-size: 20px;
}

.main_section{
    /* width: 300px;
    height: 200px; */
    background-color: rgb(219, 219, 136);
    display: flex;
    justify-content: space-between;
}

.pg_name{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    padding: 192px;
    padding-left: 100px;
    font-family: "poppins";
    line-height: 50px;
}

.hey{
    font-size: 17px;
    font-weight: 300;
}

.topname{
    font-size: 35px;
    font-weight: 600;
}

.job_doing{
    font-size: 20px;
    font-weight: 400;
}

.jobs, .pointer{
    color: rgba(122, 3, 190, 0.808);
    font-size: 24px;
    font-weight: 400;
}

.pointer{
    animation: blinks 500ms steps(18) infinite;
}

@keyframes blinks {
    100%{
        opacity: 0;
    }
}

.intro{
    line-height: 20px;
}

.pg_name_right{
    margin-right: 300px;
    margin-top: 40px;
    width: 200px;
    height: 200px;
    display: flex;
    /* background-color: brown; */
}

.photo{
    width: 500px;
    height: 500px;
    
    border-radius: 10%;
}
